<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <h2>Edit Product {{product.id}}</h2>
    <form action="{% url 'products:update' id=product.id %}" method='post'>
      {% csrf_token %}
      <p>Name:</p>
      <input type="text" name='name' placeholder="{{product.name}}">
      <p>Description:</p>
      <input type="text" name='description' placeholder="{{product.description}}">
      <p>Price:</p>
      <input type="text" name='price' placeholder="{{product.price}}">
      <input type="submit" value="Update">
    </form>
    <a href="{% url 'products:show' id=product.id %}">Show</a> | <a href="{% url 'products:index' %}">Back</a>
  </div><!-- end_of_wrapper-->
</body>
</html>
