* {
    outline: 1px dotteed red;
}

body {
    padding-top: 50px;
}

#heading {
    text-decoration: underline;
}

.form1 {
    padding: 40px 15px;
    text-align: center;
}

#rightBar p {
    color: green;
}
