<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Multiple Apps</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main_app/index.css' %}">
  </head>
  <body>
    <h1>On Multiple Apps home page</h1>
    <ul>
      <li><a href="/ninjas">Disappearing Ninjas</a></li>
      <li><a href="/timeapp">Time Display</a></li>
      <li><a href="/loginReg">Login/ Registration</a></li>
      <li><a href="/random">Random Word Generator</a></li>
      <li><a href="/courses">Courses</a></li>
    </ul>
  </body>
</html>
