<html>
    <head>
       <title>Dojo Survey Index</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/dojosurvey.css") }}">
    </head>
    <body>
      <div class="wrapper">
        <form action='/result' method='post'>
          <label class="da-input">
            Name: <input type="text" name="name" placeholder="Your Name">
          </label>
          <label class="da-input">
            Dojo Location: <select name="location">
              <option value="seattle">Seattle</option>
              <option value="siliconvalley">Silicon Valley</option>
              <option value="burbank">Burbank</option>
              <option value="chicago">Chicago</option>
              <option value="washingtondc">Washington DC</option>
              <option value="dallas">Dallas</option>
            </select>
          </label>
          <label class="da-input">
            Favorite Language: <select  name="language">
              <option value="python">Python</option>
              <option value="javascript">JavaScript</option>
              <option value="csharp">C#</option>
              <option value="ruby">Ruby</option>
              <option value="swift">Swift</option>
            </select>
          </label>
          <label class="da-input">
            Comment: (optional) <textarea name="comment"></textarea>
          </label>
          <input type='submit' value='Submit'>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{message}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </body>
</html>
